backend/venv
transcripts
backend/audio/__pycache__
backend/__pycache__/config_manager.cpython-312.pyc
training/intent_parser/distilbert-intent-model
transcripts/segment_20250406_004328.wav
backend/__pycache__/base_chat.cpython-312.pyc
backend/__pycache__/main.cpython-312.pyc
backend/__pycache__/text_chat.cpython-312.pyc
backend/__pycache__/voice_chat.cpython-312.pyc
backend/nlp/__pycache__/intent_parser.cpython-312.pyc
backend/nlp/__pycache__/nlp_processor.cpython-312.pyc
backend/nlp/intent_model/model.safetensors