backend/venv
transcripts
backend/audio/__pycache__
backend/__pycache__/config_manager.cpython-312.pyc
training/intent_parser/distilbert-intent-model
training/intent_parser/distilbert-intent-model_v2
training/intent_parser/checkpoints
transcripts/segment_20250406_004328.wav
backend/__pycache__/base_chat.cpython-312.pyc
backend/__pycache__/main.cpython-312.pyc
backend/__pycache__/text_chat.cpython-312.pyc
backend/__pycache__/voice_chat.cpython-312.pyc
backend/nlp/__pycache__/intent_parser.cpython-312.pyc
backend/nlp/__pycache__/nlp_processor.cpython-312.pyc
backend/nlp/intent_model/model.safetensors
backend/nlp/intent_parser/model.safetensors
backend/nlp/intent_parser/config.json
backend/agents/app_launcher/__pycache__/app_launcher_agent.cpython-312.pyc
backend/agents/calendar/calendar_agent.py.orig
backend/agents/calendar/__pycache__/calendar_agent.cpython-312.pyc
backend/config/config.yaml.orig
backend/config/nextcloud.yaml
backend/nlp/intent_parser/v1/config.json
backend/nlp/intent_parser/v1/model.safetensors
backend/nlp/intent_parser/v2/config.json
backend/nlp/intent_parser/v2/model.safetensors
backend/nlp/intent_parser/v2/optimizer.pt
backend/nlp/intent_parser/v2/rng_state.pth
backend/nlp/intent_parser/v2/scheduler.pt
backend/nlp/intent_parser/v2/special_tokens_map.json
backend/nlp/intent_parser/v2/tokenizer_config.json
backend/nlp/intent_parser/v2/tokenizer.json
backend/nlp/intent_parser/v2/trainer_state.json
backend/nlp/intent_parser/v2/training_args.bin
backend/nlp/intent_parser/v2/vocab.txt
training/intent_parser/checkpoints/calculator.csv
training/intent_parser/checkpoints/calendar_event.csv
training/intent_parser/checkpoints/fact.csv
training/intent_parser/checkpoints/joke.csv
training/intent_parser/checkpoints/news_update.csv
training/intent_parser/checkpoints/open_application.csv
training/intent_parser/checkpoints/play_music.csv
training/intent_parser/checkpoints/reminder.csv
training/intent_parser/checkpoints/send_message.csv
training/intent_parser/checkpoints/set_alarm.csv
training/intent_parser/checkpoints/translation.csv
training/intent_parser/checkpoints/unit_conversion.csv
training/intent_parser/checkpoints/unknown.csv
training/intent_parser/checkpoints/weather_query.csv
training/intent_parser/distilbert-intent-model_v2/checkpoint-1497/config.json
training/intent_parser/distilbert-intent-model_v2/checkpoint-1497/model.safetensors
training/intent_parser/distilbert-intent-model_v2/checkpoint-1497/optimizer.pt
training/intent_parser/distilbert-intent-model_v2/checkpoint-1497/rng_state.pth
training/intent_parser/distilbert-intent-model_v2/checkpoint-1497/scheduler.pt
training/intent_parser/distilbert-intent-model_v2/checkpoint-1497/special_tokens_map.json
training/intent_parser/distilbert-intent-model_v2/checkpoint-1497/tokenizer_config.json
training/intent_parser/distilbert-intent-model_v2/checkpoint-1497/tokenizer.json
training/intent_parser/distilbert-intent-model_v2/checkpoint-1497/trainer_state.json
training/intent_parser/distilbert-intent-model_v2/checkpoint-1497/training_args.bin
training/intent_parser/distilbert-intent-model_v2/checkpoint-1497/vocab.txt
training/intent_parser/distilbert-intent-model_v2/checkpoint-499/config.json
training/intent_parser/distilbert-intent-model_v2/checkpoint-499/model.safetensors
training/intent_parser/distilbert-intent-model_v2/checkpoint-499/optimizer.pt
training/intent_parser/distilbert-intent-model_v2/checkpoint-499/rng_state.pth
training/intent_parser/distilbert-intent-model_v2/checkpoint-499/scheduler.pt
training/intent_parser/distilbert-intent-model_v2/checkpoint-499/special_tokens_map.json
training/intent_parser/distilbert-intent-model_v2/checkpoint-499/tokenizer_config.json
training/intent_parser/distilbert-intent-model_v2/checkpoint-499/tokenizer.json
training/intent_parser/distilbert-intent-model_v2/checkpoint-499/trainer_state.json
training/intent_parser/distilbert-intent-model_v2/checkpoint-499/training_args.bin
training/intent_parser/distilbert-intent-model_v2/checkpoint-499/vocab.txt
training/intent_parser/distilbert-intent-model_v2/checkpoint-998/config.json
training/intent_parser/distilbert-intent-model_v2/checkpoint-998/model.safetensors
training/intent_parser/distilbert-intent-model_v2/checkpoint-998/optimizer.pt
training/intent_parser/distilbert-intent-model_v2/checkpoint-998/rng_state.pth
training/intent_parser/distilbert-intent-model_v2/checkpoint-998/scheduler.pt
training/intent_parser/distilbert-intent-model_v2/checkpoint-998/special_tokens_map.json
training/intent_parser/distilbert-intent-model_v2/checkpoint-998/tokenizer_config.json
training/intent_parser/distilbert-intent-model_v2/checkpoint-998/tokenizer.json
training/intent_parser/distilbert-intent-model_v2/checkpoint-998/trainer_state.json
training/intent_parser/distilbert-intent-model_v2/checkpoint-998/training_args.bin
training/intent_parser/distilbert-intent-model_v2/checkpoint-998/vocab.txt
