numpy
sounddevice
openai-whisper
webrtcvad
torch
PyYAML
rapidfuzz
transformers
caldav
ics
jsonschema
blobfile
protobuf
SentencePiece
chromadb
sentence_transformers
PyMuPDF
python-docx
ebooklib
bs4
langchain
watchdog
